name: Perl

on: [push]

jobs:
  test:
    strategy:
      matrix:
        perl-version: 
          - '5.26'
          - '5.28'
          - '5.30'
          - '5.32'
          - '5.34'
    runs-on: ubuntu-latest
    name: Perl ${{ matrix.perl-version }}
    steps:
      - uses: actions/checkout@v2

      - name: Set up Perl
        uses: shogo82148/actions-setup-perl@v1
        with:
          perl-version: ${{ matrix.perl-version }}
          install-modules-with: cpanm
      
      # perltidy
      - run: make perltidy-fix
      - name: Comment suggestion(s)
        uses: reviewdog/action-suggester@v1
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          tool_name: perltidy
          level: error
          fail_on_error: true

      - run: prove -Ilib -lv t
